*{
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #222;
}

.banner {
  position: relative;
  min-height: 80vh;
  width: 690px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
  inset -5px -5px 15px rgba(255,255,255,0.1),
  5px 5px 15px rgba(0,0,0,0.3),
  -5px -5px 15px rgba(255,255,255,0.1);
}

.title-form {
  color: white;
  /* position: absolute; */
}

.text-url {
  color: white;
  /* possition: absolute; */
}

.form-control {
  box-sizing: content-box;
  width: 95%;
}

.btn-input-mp4 {
  position: absolute;
  top: 70%;
  left: 10%;
  padding: 10px 12px;
  text-decoration: none;
  color: rgb(161, 13, 13);
  border-radius: 6px;
}

.btn-input-mp3 {
  position: absolute;
  top: 70%;
  left: 40%;
  padding: 10px 12px;
  text-decoration: none;
  color: rgb(161, 13, 13);
  border-radius: 6px;
}